<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <section id="main-section" class="container-fluid">
        <p>This is the result of the long running process.</p>
        <table class="table table-striped display dataTable">
            <thead>
            <tr>
                <th th:text="#{label.name}">Name</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span th:remove="tag"
                          th:text="${result}">Name</span></td>
            </tr>
            </tbody>
        </table>
        <table class="table">
            <thead class="thead-dar">
                <tr>
                    <th scope="col"#></th>
                    <th scope="col"Detail></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="event : ${events}">
                    <th th:text="${event.id}" scope="row">1</th>
                    <td th:text="${event.message}"></td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
</body>
</html>
